		body {
            /* font-family: 'Montserrat', sans-serif; */
			font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
            color: #bdbfc2;
            font-weight: 300;
            font-size: 18px;
			margin: 0 auto;
			background: #0e1115;
			text-overflow: ellipsis;
		}
		#wrapper{
			max-width:1000px;
			margin: 0 auto;
			height: auto !important;
		}
        div.container {
            display: block;
            float: left;
            padding: 0 10px;
        }
        strong {
            display: inherit;
            padding: 5px 0;
            text-align: center;
            font-size: 1em;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        input {
            /* font-family: Arial; */
			font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
            cursor: pointer;
            border: 0;
            -webkit-appearance: none;
            outline: none;
            text-align: center;
            font-size: 1.5em;
            display: inline-block;
            position: relative;
            z-index: 2;
            font-weight: normal;
            padding: 10px;
            border-radius: 2px;
            box-shadow: 0 0px 0 2px #454545;
            background: #0e1115;
            color: #bdbfc2;
			max-width: 340px;
			min-width: 100px;
        }
		ul {
			/* width: 800px; */
			margin: 0px;
			padding: 0px;
			list-style: none;
			/* text-align: center; */
		}
		ul li {
			display: inline;									
		}
		
		.small-data{
			font-size: 1em;
			text-shadow: 0 0 15px #1977cc;
			
		}
		
		.big-data{
			font-size: 4em;	
			text-shadow: 0 0 15px #1977cc;
		}
		#date,
		#clock,
		#temper,
		#humidity,
		#pressure		
		{
			padding: 30px 20px;
		}
		
		#point {
			position: relative;
			-moz-animation: mymove 1s ease infinite;
			-webkit-animation: mymove 1s ease infinite;
			/* padding-left: 10px; */
			/* padding-right: 10px;	 */
			text-shadow: 0 0 15px #1977cc;			
		}
		#clock {			
			text-align: right;			
		}
		#date{
			padding: 0;				
		}
		#temper, 
		#humidity,
		#pressure{
			float: left;
			text-align: center;
		}
		.status{
			content: "";
			height: 1em;
			width: 1em;
			min-width: 1em;
			border-radius: 50%;
			background-color: currentColor;
			float:left;
			margin: 2px 15px 0px 2px;
			box-shadow: 0 0 15px currentColor,inset 0 1px 2px hsla(0,0%,100%,.3);
		}
		.on {
			color: #1e963f
		}
		.off{
			color: #cf324f;
			
		}
		.disabled{
			color: #939e9f;
			box-shadow: none;
		}
        .switch {
            position: relative;
            display: inline-block;
            width: 90px;
            height: 34px;
            margin-top: 5px;
        }
        .switch input {
            display: none;
        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #cf324f;
            -webkit-transition: .4s;
            transition: .4s;
            box-shadow: 0 0px 0 2px #454545, inset 0 0px 5px #000;
        }
        .slider:before {
            position: absolute;
            content: '';
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        input:checked + .slider {
            background-color: #1e963f;
        }
        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }
        input:checked + .slider:before {
            -webkit-transform: translateX(56px);
            -ms-transform: translateX(56px);
            transform: translateX(56px);
        }
        .slider.round {
            border-radius: 34px;
        }
        .slider.round:before {
            border-radius: 50%;
        }
		
		input.name,
		div.accordion {
			text-align: left;
            outline: none;
            font-size: 1em;
            text-transform: uppercase;
			cursor: pointer;
		}
		input.name{
			color: inherit;
			background-color: inherit;
			box-shadow: none;
			font-weight: normal;
			padding: 0;
		}
        div.accordion {
			transition: 0.4s;
            background-color: #181e25;
            color: #555;
			padding: 18px;
            border: 1px solid hsla(0,0%,100%,.1);           
        }
        div.accordion.active,
        div.accordion:hover	{
            background-color: #535a61;
            color: #fff;
            
        }
        div.accordion:after {
            content: '\002B';
            color: #fff;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }
        div.accordion.active:after {
            content: '\2212';
        }
        div.panel {
            padding: 0 18px;
            background: #222b35;
            max-height: 0;
            overflow: hidden;
            transition: 0.6s ease-in-out;
            opacity: 0;
            border: 1px solid hsla(0,0%,100%,.1);
        }
        div.panel.show {
            padding: 18px 18px 38px 18px;
            opacity: 1;
            max-height: 500px;
        }
		/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
    text-shadow: 0 0 20px #555;
}

50% {
    opacity: 0;
    text-shadow: none;
}

100% {
    opacity: 1.0;
    text-shadow: 0 0 20px #555;
}	
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #555;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #555;
    };
}